.page {
  &__title {
    // Gutters are taken care of by the grid.
    margin-top: 0;
    margin-bottom: 0;
  }

  &__footer,
  &__title-wrapper {
    > *:not(img):not(video) {
      @extend %u-paragraph;
    }
  }
  &__content {
    > *:not(img):not(video):not(.no-container) {
      @extend %u-paragraph;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
  // Tailor edit UI
  #canvas {
    max-width: none;
    > div > *:not(img):not(video):not(.no-container) {
      @extend %u-paragraph;
    }
  }

  &__nav_item {
    &--next .page__nav_link {
      margin-left: -1 * get-side($menu-items-padding, left);
    }
    &--prev .page__nav_link {
      margin-right: -1 * get-side($menu-items-padding, right);
      text-align: right;
    }
  }

  &__listing {
  }

  // Post type: Page
  // ---------------
  &--type-page {
  }

  // Post type: Post
  // ---------------
  &--type-post {
  }

  // Term type: Category
  // -------------------
  &--type-category {
  }
}
