.post {
  &__content {
    @extend %u-spacing-gutter--bottom;
  }

  &__nav_item {
    &--next .post__nav_link {
      margin-left: -1 * get-side($menu-item-padding, left);
    }
    &--prev .post__nav_link {
      margin-right: -1 * get-side($menu-item-padding, right);
      text-align: right;
    }
  }

  &__terms {
    &.menu {
      margin-left: -1 * get-side($menu-item-padding, left);
      margin-right: -1 * get-side($menu-item-padding, right);
    }
  }
}
