.smartcrop {
  // We don't use wpsmartcrop logic, we set the object-position using
  // percentage in image.twig.
  object-fit: cover;
}

// Support smartcrop responsive images.
.smartcrop__container {
  position: relative;
  overflow: hidden;
  // image.twig adds height, width and padding.

  // Let the image span the entire area.
  .smartcrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: visible;
  }
}
