/**
 * Make a sticky footer layout.
 * @example
 * <body class="sticky-footer">
 *   <header></header>
 *   <div class="sticky-footer__content" role="document">
 *     ...
 *   </div>
 *   <footer></footer>
 * </body>
 */
.sticky-footer {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  min-width: 0;
  min-height: 0;
  width: 100%;

  &__content {
    flex-grow: 1;
  }
}
