.teaser {
  text-align: left;
  a { color: inherit; }

  &__image {
    img { @extend %u-img-expand; }
  }

  // Expand full height
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  &__link {
    // Expand full height
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    // Override any styling, block links should never be underlined.
    text-decoration: none !important;
  }

  &__content {
    // Allow long words to overflow.
    overflow: hidden;
    text-overflow: ellipsis;

    p:last-child { margin-bottom: 0; }
  }
}
