$content-width-max: 674px !default;

@mixin expanded-alignment(
  $gutter: 0px,
  $sizer: 1,
  $max-width: 0,
  $content-width: 0,
) {
  // Default is full aligned with optional gutter.
  margin-left: calc(50% - 50vw + #{$gutter / 2});
  margin-right: calc(50% - 50vw + #{$gutter / 2});
  width: 100vw;
  max-width: calc(100vw - #{$gutter});

  // When viewport is larger than the content, increase it's size according to
  // $sizer value.
  @if ($sizer != 1 and $content-width) {
    // Use specific value rather than 100% to work when nested.
    $-side-width: "(100vw - #{$content-width})";
    // calc() in media query isn't well supported, especially in safari.
    $-min-width: (rem-calc($content-width) + (rem-calc($gutter) * 2));

    @media (min-width: #{$-min-width}) {
      margin-left: calc(50% - (50vw - (#{$-side-width} / 2) * #{$sizer - 1}) + #{$gutter/2});
      margin-right: calc(50% - (50vw - (#{$-side-width} / 2) * #{$sizer - 1}) + #{$gutter/2});
      max-width: calc(100vw - (#{$-side-width} * #{$sizer - 1}) - #{$gutter});
    }
  }

  // When the calculated width (including gutter and sizer) reaches max-width,
  // stop increasing it's size.
  @if ($max-width != 0) {
    @media (min-width: (rem-calc($max-width) * $sizer + rem-calc($gutter))) {
      margin-left: calc((100% - #{$max-width}) / 2);
      margin-right: calc((100% - #{$max-width}) / 2);
      max-width: $max-width;
    }
  }
}

@if $is-frontend {
  .alignwide {
    @include expanded-alignment(
      $sizer: 1.2,
      $max-width: $grid-container-max,
      $content-width: $content-width-max,
      $gutter: map-get($grid-container-padding, small),
    );
  }

  .alignfull {
    @include expanded-alignment(
      $max-width: $grid-container-max,
      $content-width: $content-width-max,
    );
  }

  // Nested blocks should be contained within parent
  .alignwide .alignwide,
  .alignwide .alignfull,
  .alignfull .alignfull {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  // Disable floated aligns on small screens.
  .alignleft,
  .alignright,
  .wp-block-image .alignleft,
  .wp-block-image .alignright {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  // Align float at same viewport width as WP core.
  @media (min-width: 640px) {
    .alignleft,
    .wp-block-image .alignleft {
      margin-right: $global-margin;
      float: left;
    }

    .alignright,
    .wp-block-image .alignright {
      margin-left: $global-margin;
      float: right;
    }
  }
}
