.drilldown {
  > li.is-drilldown-submenu-parent > a {
    display: flex;
    justify-content: space-between;

    &::after {
      content: svg-load('../node_modules/@fortawesome/fontawesome-free/svgs/solid/chevron-right.svg', fill=$medium-gray);
      display: block;
      width: 0.6em;
      height: 0.6em;
      position: static;
    }
  }

  .js-drilldown-back a {
    display: flex;

    &::before {
      content: svg-load('../node_modules/@fortawesome/fontawesome-free/svgs/solid/chevron-left.svg', fill=$medium-gray);
      display: block;
      width: 0.6em;
      height: 0.6em;
      margin-right: 1em;
      position: static;
    }
  }
}

.is-drilldown {
  // We pre-set this class to avoid FOUC but on mobile it breaks is-drilldown.
  .is-dropdown-submenu {
    display: block;
    min-width: none;
    border: 0;
  }

  // We pre-set this class to avoid FOUC but on mobile it breaks is-drilldown.
  .is-dropdown-submenu-parent {
    position: static;
  }
}
