.dropdown.menu {
  > li.is-dropdown-submenu-parent > a {
    padding-right: $dropdownmenu-arrow-padding;

    &::after {
      content: svg-load('../node_modules/@fortawesome/fontawesome-free/svgs/solid/chevron-down.svg', fill=$medium-gray);
      display: block;
      width: 0.6em;
      height: 0.6em;
      right: 5px;
      left: auto;
    }
  }
}
