.entry-content,
.wp-block-group__inner-container,
.wp-block-cover__inner-container,
.wp-block-media-text__content,
.wp-block-column {
  > [class^="wp-block-"] {
    @include -zf-breakpoint-value(auto, $grid-margin-gutters) {
      $gutter: rem-calc($-zf-bp-value) / 2;

      margin-top: $gutter;
      margin-bottom: $gutter;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
