# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.cache-loader
dist
bower_components
node_modules
npm-debug.log
yarn-error.log
vendor
resources/assets/config-local.json

# Fontello build files we don't need.
assets/fonts/fontello/animation.css
assets/fonts/fontello/fontawesome-embedded.css
assets/fonts/fontello/fontawesome-ie7-codes.css
assets/fonts/fontello/fontawesome-ie7.css
assets/fonts/fontello/fontawesome.css
