<div class="grid-x grid-margin-x">
  <div class="cell small-4">
    <label class="text-right middle">{{title}}</label>
  </div>
  <div class="cell small-8">
    {{facetwp_display(facet_type ?: 'facet', facet_name)}}
  </div>
</div>
