<div class="row">
  <div class="column small-4">
    <label class="text-right middle">{{title}}</label>
  </div>
  <div class="column small-8">
    {{facetwp_display(facet_type ?: 'facet', facet_name)}}
  </div>
</div>
