/* limit the acf block field wrapper size especially for wide and full */
.wp-block .acf-block-component .acf-block-fields {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Disable links rendered in ACF blocks */
.acf-block-preview a[href] {
  pointer-events: none;
}

/* @todo remove in next version of Gutenberg */
/* @see https://github.com/WordPress/gutenberg/pull/15939 */
.wp-block-cover {
  /* changing the background color doesnt apply the has-background-* classes */
  &[style*="background-color:"] {
    @apply text-white;
  }

  &[style*="background-color: rgb(255, 255, 255)"] {
    @apply text-black;
  }
}
