/**
 * Editor
 */

@import "~foundation-sites/scss/foundation";
@import 'config/variables';
@import 'config/external';

// Disable frontend specific styles.
$is-frontend: false;

.foundation-mq {
  font-family: '#{-zf-bp-serialize($breakpoints)}';
}

.editor-styles-wrapper > * {
  // Foundation body styling extracted from foundation-global-styles().
  background: $body-background;
  font-size: $global-font-size;
  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  line-height: $global-lineheight;
  color: $body-font-color;

  @if ($body-antialiased) {
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  }

  // Style page title
  .editor-post-title__input {
    font-family: $header-font-family;
  }

  // Disable links rendered in ACF blocks
  .acf-block-preview a[href]:not([href^="#"]) {
    pointer-events: none;
  }

  // Use the same width as the page does so that floated blocks appear the same
  .wp-block:not([data-align="full"]):not([data-align="wide"]) {
    max-width: $content-width-max;
  }

  // For some reason core hardcodes this in the editor breaking the cascade
  // that otherwise happens on the front-end.
  .wp-block-cover .block-editor-block-list__block {
    color: inherit;
  }

  @import 'common/foundation';
  @import 'common/global';
  @import 'components';
  @import 'blocks';
}
