/**
 * Editor
 */

@import "~foundation-sites/scss/foundation";

@import 'config/variables';
@import 'config/external';

.editor-styles-wrapper > * {
  @import 'common/foundation';

  .foundation-mq {
    font-family: '#{-zf-bp-serialize($breakpoints)}';
  }

  font-size: $global-font-size;
  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  line-height: $global-lineheight;
  color: $body-font-color;

  .editor-post-title__input {
    font-family: $header-font-family;
  }

  @import 'common/global';

  @import 'components';
}
