<div class="grid-container">
  <div class="grid-x grid-margin-x grid-margin-y align-justify">
    {% if sidebar_footer %}
      <div class="l-footer__sidebar cell">
        <div class="grid-x grid-margin-x grid-margin-y">
          {{sidebar_footer}}
        </div>
      </div>
    {% endif %}
    <div class="cell shrink align-middle">
      <div class="l-footer__copyright">
        {{options.footer_copyright}}
      </div>
    </div>
    <div class="cell shrink">
      <ul class="menu l-footer__social-menu">
        {% for network in ['facebook', 'twitter', 'linkedin', 'instagram'] %}
          {% if options[network] %}
            <li><a href="{{options[network]}}"><i class="fa fa-{{network}} fa-2x"></i></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
