.teaser {
  text-align: left;
  // Support equal-height grid columns.
  // @see .flex-grow-all in common/_helpers.scss
  flex-grow: 1;

  &__image {
    img { @extend %u-img-expand; }
  }
  &__link {
    height: 100%;
    display: block;
    // Override any styling, block links should never be underlined.
    text-decoration: none !important;
  }
  &__content-wrapper {}
  &__content {
    // Allow long words to overflow.
    overflow: hidden;
    text-overflow: ellipsis;

    p:last-child { margin-bottom: 0; }
  }
  &__title {}

  &--post {
    .teaser__title {}
  }
}
