.wp-block-column {
  // column blocks can contain other aligned blocks.
  .alignwide,
  .alignfull {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  // On mobile stacked columns need gutters.
  // Note breakpoint is taken from wp core.
  @media (max-width: 782px) {
    margin-bottom: $global-margin;
  }
}
