.wp-block-search {
  display: flex;
  align-items: center;

  .wp-block-search__label {
    @if not $is-frontend {
      @include form-label;
    }

    width: auto;
    margin-right: $global-margin;
  }

  .wp-block-search__button {
    @include button;

    margin-left: 10px;
    margin-bottom: 0;
    height: auto;

    @if not $is-frontend {
      box-shadow: none;
    }
  }

  &__input {
    @if not $is-frontend {
      @include form-element;
    }

    height: auto;
    margin-bottom: 0;
  }
}
