.wp-block-table {
  text-align: left;

  $colors: (
    'subtle-light-gray': #f3f4f5,
    'subtle-pale-green': #e9fbe5,
    'subtle-pale-blue': #e7f5fe,
    'subtle-pale-pink': #fcf0ef,
  );

  td,
  th {
    border: $table-border;
    padding: $table-padding;
  }

  @each $name, $color in $colors {
    > .has-#{$name}-background-color {
      background-color: $color;
    }
  }

  &.is-style-stripes {
    td,
    th {
      border-color: transparent;
    }

    tbody tr:nth-child(odd) {
      background-color: $table-striped-background;
    }

    > .has-background {
      background-color: transparent;
    }

    @each $name, $color in $colors {
      > .has-#{$name}-background-color tbody tr:nth-child(odd) {
        background-color: $color;
      }
    }
  }
}
