.schema-faq {
  @if not $is-frontend {
    // Remove the default styling
    &-section {
      border: 0;
      padding: 0;
      margin: 0;
    }

    // Make controls container look like part of the content
    &-section-controls-container {
      margin-left: 0;
      border-left: $accordion-content-border;
      border-right: $accordion-content-border;
    }

    // When closed, last item should have a border on the section
    &-section:last-child:not(.is-active) {
      border-bottom: $accordion-content-border;
    }

    // When opened, last item should have a border on the controls container
    &-section:last-child > .schema-faq-section-controls-container:last-child {
      border-bottom: $accordion-content-border;
    }
  }

  &-section {
    @extend .accordion-item;
  }

  &-question {
    @extend .accordion-title;

    font-weight: inherit;
    cursor: pointer;
  }

  &-answer {
    @extend .accordion-content;
  }

  &-section.is-active .schema-faq-answer {
    display: block;
    margin-bottom: 0;
  }
}
