.l-header {

  a { outline: none; }

  &__bar--mobile {
    position: relative;
    z-index: 2;
  }

  &__nav-toggle {
    outline: none;
    // Make the target area larger.
    padding: 2rem;
    margin-top: -1rem;
    margin-right: -1rem !important; // override .title-bar .menu-icon
    > span { margin-left: -1rem; }

    &.menu-icon:after { display: none; }

    > span {
      @include burger(
        $width: rem-calc(20px),
        $height: rem-calc(2px),
        $gutter: $titlebar-icon-spacing,
        $color: $titlebar-icon-color
      );
    }
    &.active > span {
      @include burger-to-cross();
    }
  }

  // Mobile menu.
  &__nav--mobile {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: $titlebar-background;

    // Offset by the height of the header.
    @if variable-exists(c-header-sizes) {
      @each $size, $height in $c-header-sizes {
        @include breakpoint($size) {
          padding-top: $height;
        }
      }
    }

    .primary_navigation {
      max-height: 100%;
      // Prevent momentum scrolling on iOS.
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  // Desktop menu
  &__nav--desktop {
    @extend %u-spacing-gutter--vertical;

    .primary_navigation {
      &__item {
        &--current {}
      }
      &__link {}
    }
  }
}
