html {
  // Span the full viewport height.
  height: 100%;
  display: flex;
}

body {
  overflow-y: scroll;

  // Improve render performance by disabling some gestures.
  touch-action: manipulation;
}

img {
  max-width: 100%;
  height: auto;
}
