/**
 * Display an image as a block element spanning the containers full width.
 */
%u-img-expand {
  max-width: none;
  width: 100%;
  display: block;
}

/**
 * Inherit all colors.
 */
%u-color-inherit {
  a { color: inherit; }
}

/**
 * Force remove all link states.
 * @example
 * .teaser__link { @extend %u-link-no-state; }
 */
%u-link-no-state {
  text-decoration: none;
  color: inherit !important;

  &:hover,
  &:focus {
    color: inherit !important;
    text-decoration: none;
  }
}

/**
 * Helper to remove all trailing whitespace from buttons and paragraphs.
 */
%u-strip-bottom-paddings {
  p:last-child,
  p > .button:last-child { margin-bottom: 0; }
}
