/**
 * Global
 */

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */
@each $color-name, $color-value in $foundation-palette {
  .has-#{$color-name}-background-color {
    background-color: $color-value !important;
    color: color-pick-contrast($color-value, ($black, $white)) !important;
  }
}

@each $color-name, $color-value in $foundation-palette {
  .has-#{$color-name}-color {
    color: $color-value !important;
  }
}

/**
 * Block editor font size utilities
 */
$font-sizes: (
  small: rem-calc(14),
  normal: rem-calc(16),
  large: rem-calc(22),
) !default;

@each $size-name, $size-value in $font-sizes {
  .has-#{$size-name}-font-size {
    font-size: $size-value !important;
  }
}

// Remove empty trailing paragraphs.
p:empty:last-child {
  display: none;
}

// Remove trailing space below last paragraph in a container
p:last-child {
  margin-bottom: 0;
}
