<div id='gform_confirmation_wrapper_{{id}}' class='gform_confirmation_wrapper'>
  <div
    id='gform_confirmation_message_{{id}}'
    class='gform_confirmation_message callout {{confirmation.type == 'message' ? 'success'}}'
  >
    {{confirmation.message}}
  </div>
</div>
