{% if post.get_comments() %}
  <section class="page__comments comments--{{template_type}} comments--type-{{post.post_type}}" id="comments">
    <div class="page__comments_form">
      {# @see https://codex.wordpress.org/Function_Reference/comment_form #}
      {# @see https://github.com/mgmartel/timber-foundation/blob/master/views/partials/comments.twig #}
      {{post.comment_form({'title_reply_before': '<h3 class="page__comments_title">', 'class_submit': 'submit button button--primary'})}}
    </div>
    {% if post.get_comments()|length %}
      <h3 class="page__comments_listing_title">{{__('Comments', '<example-project>')}}</h3>
      <div class="page__comments_listing grid-x grid-margin-y">
        {% for cmt in post.get_comments() %}
          <div class="page__comment cell">
            {% include "parts/comment.twig" with { comment: cmt } %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endif %}
