{% extends 'layout/base.twig' %}

{% set object = term|default(post) %}
{% set taxonomy = object.taxonomy|default(object.archive__post_type) %}
{% set content = term.description|default(post.content) %}

{% block content %}
  <div class="archive grid-container archive--{{taxonomy}}" id="archive-{{object.ID}}">
    {% block term %}
      <article class="archive__term grid-x align-center">
        <div class="archive__content-wrapper cell large-8">
          {% block term__header %}
            <div class="archive__title-wrapper">
              <h1 class="archive__title">{% block term__title object.title|default(wp_title) %}</h1>
            </div>
          {% endblock %}
          {% block term__content %}
            {% if content %}
              <div class="archive__content">
                {{content|the_content}}
              </div>
            {% endif %}
          {% endblock %}
        </div>
      </article>
    {% endblock %}

    {% block listing %}
      <section class="archive__listing grid-x grid-margin-x grid-margin-y small-up-1 medium-up-2 large-up-3 align-stretch">
      {% for post in posts %}
        {% block listing__item %}
          <div class="archive__post cell">
            {% include ['teasers/teaser--'~post.post_type~'.twig', 'teasers/teaser.twig'] %}
          </div>
        {% endblock %}
      {% endfor %}
      </section>
      {% block pager %}
        {% include 'parts/archive__pager.twig' %}
      {% endblock %}
    {% endblock %}
  </div>
{% endblock %}
