{% extends 'layout/base.twig' %}

{% block content %}

  <div class="archive archive--{{term.taxonomy}}" id="archive-{{term.ID}}">
    {% block term %}
      <article class="archive__term archive__term--{{term.taxonomy}}">
        <div class="archive__content-wrapper row align-center">
          <div class="column small-12 large-8">
            {% block term__header %}
              <div class="archive__title-wrapper">
                <h1 class="archive__title">{% block term__title term.name|default(wp_title) %}</h1>
              </div>
            {% endblock %}
            {% block term__content %}
              {% if term.description %}
                <div class="archive__content">
                  {{term.description}}
                </div>
              {% endif %}
            {% endblock %}
          </div>
        </div>
      </article>
    {% endblock %}

    {% block listing %}
      <section class="archive__listing row row-grid small-up-1 medium-up-3 flex-grow-all">
      {% for post in posts %}
        {% block listing__item %}
          <div class="archive__post column">
            {% include ['teasers/teaser-'~post.post_type~'.twig', 'teasers/teaser.twig'] %}
          </div>
        {% endblock %}
      {% endfor %}
      </section>
      {% block pager %}
        {% include 'parts/archive__pager.twig' %}
      {% endblock %}
    {% endblock %}
  </div>
{% endblock %}
