{% extends 'pages/archive.twig' %}

{% block term__title %}
  {{author.display_name}}
{% endblock %}

{% block term__content %}
  {% if author.description %}
    <div class="archive__content">
      {{author.description}}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="archive archive--author" id="archive-{{author.ID}}">
    {% block term parent() %}
    {% block listing parent() %}
  </div>
{% endblock %}
