{% extends 'pages/page.twig' %}

{% block post__footer %}
  <div class="post__footer">
    {% include 'parts/post__terms.twig' with { terms: post.terms('category') } %}
    {% include 'parts/post__comments.twig' %}
    {% include 'parts/post__nav.twig' %}
  </div>
{% endblock %}
